echo "
# Python
__pycache__/
*.py[cod]
*.so
.Python
.env
.venv
venv/

# Bases de datos
*.sqlite3
*.db
*.backup*

# Estáticos y media
staticfiles/
media/

# Celery
celerybeat-schedule
celerybeat.pid

# Temporales
*.log
*.tmp
.vscode/
.idea/
*.swp
label:
" > .gitignore*.mo
poetry.lock
